In [29]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyD0T202B8RxqmTt88MXp4SMiZ3rIFzBgpc"

In [30]:
# Dependencies and Setup
import time
from scipy.stats import linregress
import matplotlib.style as style
style.use('fivethirtyeight')

In [48]:
import warnings
warnings.filterwarnings('ignore')

In [31]:
gmaps.configure(api_key=g_key)

In [34]:
df = pd.read_csv('cities.csv')

In [35]:
df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jamestown,42.0970,-79.2353,45.00,70,90,8.05,US,1618702302
1,1,Thompson,55.7435,-97.8558,30.20,69,90,14.97,CA,1618702325
2,2,Mataura,-46.1927,168.8643,55.99,81,98,11.01,NZ,1618702325
3,3,Saint-Louis,16.3333,-15.0000,87.80,25,0,2.30,SN,1618702325
4,4,Atuona,-9.8000,-139.0333,80.64,74,50,19.30,PF,1618702326

In [83]:
# Store latitude and longitude in locations
locations = df[['Lat', 'Lng']]

# Fill NaN values and convert to float
rating = df['Humidity'].astype(float)

In [84]:
rating.describe()

count    544.000000
mean      70.246324
std       21.151083
min        6.000000
25%       60.000000
50%       74.000000
75%       87.000000
max      100.000000
Name: Humidity, dtype: float64

In [86]:
fig = gmaps.figure()
hm_layer = gmaps.heatmap_layer(locations,weights=rating,max_intensity=100,dissipating=False,point_radius=1.2)
fig.add_layer(hm_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
hotel_df = df[(df['Max Temp'] > 70) & (df['Max Temp'] < 80) & (df['Wind Speed'] < 10) & (df['Cloudiness'] == 0)]
hotel_df['Hotel Name'] = ''

In [70]:
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
42,42,São Filipe,14.8961,-24.4956,72.70,70,0,9.24,CV,1618702336,
105,105,Maţāy,28.4190,30.7792,77.43,17,0,6.35,EG,1618702353,
138,138,Salalah,17.0151,54.0924,78.80,61,0,3.44,OM,1618702362,
229,229,Phalodi,27.1333,72.3667,77.20,28,0,9.80,IN,1618702387,
236,236,Māngrol,21.1167,70.1167,77.95,79,0,9.06,IN,1618702390,
265,265,Umluj,25.0213,37.2685,79.39,61,0,2.55,SA,1618702297,
397,397,Pahrump,36.2083,-115.9839,73.00,12,0,5.99,US,1618702437,
492,492,Duque de Caxias,-22.7856,-43.3117,78.80,78,0,6.91,BR,1618702467,

In [51]:
locations = hotel_df[["Lat", "Lng"]]

In [76]:
# params dictionary to update each iteration
params = {
    "radius": 100000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = (name_address['results'][0]["name"])
        print('Hotel Found')
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Hotel Found
Hotel Found
Missing field/result... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found

In [ ]:
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

In [77]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [81]:
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))